.marmota{
  .truncate {
    width:100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-item-clickeable {
    cursor: pointer;
  }

  .has-error {
    border: 2px solid red !important;
    box-shadow: 0px 0px 2px red;
  }

  .v-icon.rotate{
    transform: rotate(180deg);
  }

  .space-icon{
    width: 1em;;
    margin: 0px 6px;
    height: 1em;
  }

  .is-clickeable:hover{
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.2);
  }

}
